* {
    box-sizing: border-box;
}

body {
    font: normal 21px Helvetica, Arial, sans-serif;
    background-color: lightgray;
    padding: 100px;
}

h2, h3, h4, h5 {
    margin: 10px 0;
    border-bottom: 1px solid black;
}

p {
    margin: 0 0 18px;
}
